<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NS Istanbul API URLs</title>
</head>
<body>
    <div><h3>Company</h3></div>
    <div style="height:40px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        GET
    </div>
    <div style="height:40px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        <a href="/api/company/">/api/company/</a>
    </div>
    <div style="height:40px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        &nbsp;
    </div>


    <div style="height:140px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        POST
    </div>
    <div style="height:140px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        <a href="/api/company/">/api/company/</a>
    </div>
    <div style="height:220px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        [<br>
            &nbsp;&nbsp;{<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"name": "NSistanbul",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"email": "nsistanbul@mail.com",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"icon_url": "",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"contact_url": "http://nsistanbul.com",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"is_deleted": false,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"created_at": "2018-06-25T11:25:59.445924+03:00",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"modified_at": "2018-06-25T11:25:59.445975+03:00"<br>
            &nbsp;}<br>
        ]<br>
    </div>

    <div style="height:40px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        GET
    </div>
    <div style="height:40px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        <a href="/api/company/2/">/api/job/company/{id}</a>
    </div>
    <div style="height:40px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        &nbsp;
    </div>


    <div style="height:140px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        PUT
    </div>
    <div style="height:140px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        <a href="/api/company/2/">/api/job/company/{id}</a>
    </div>
    <div style="height:220px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        [<br>
            &nbsp;&nbsp;{<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"name": "NSistanbul",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"email": "nsistanbul@mail.com",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"icon_url": "",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"contact_url": "http://nsistanbul.com",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"is_deleted": false,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"created_at": "2018-06-25T11:25:59.445924+03:00",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"modified_at": "2018-06-25T11:25:59.445975+03:00"<br>
            &nbsp;}<br>
        ]<br>
    </div>


    <div><h3>Company App</h3></div>
    <div style="height:40px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        GET
    </div>
    <div style="height:40px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        <a href="/api/companyapp/">/api/companyapp/</a>
    </div>
    <div style="height:40px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        &nbsp;
    </div>

   <div style="height:140px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        POST
    </div>
    <div style="height:140px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        <a href="/api/companyapp/">/api/companyapp/</a>
    </div>
    <div style="height:220px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
            [<br>
                &nbsp;&nbsp;{<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;"company": 2,<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;"name": "nsIstanbul",<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;"icon_url": null,<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;"is_deleted": false,<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;"created_at": "2018-06-25T22:16:09.529128+03:00",<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;"modified_at": "2018-06-25T22:16:09.529174+03:00"<br>
                &nbsp;&nbsp;}<br>
            ]<br>
    </div>

    <div style="height:40px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        GET
    </div>
    <div style="height:40px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        <a href="/api/companyapp/1/">/api/companyapp/{id}</a>
    </div>
    <div style="height:40px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        &nbsp;
    </div>


    <div style="height:140px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        PUT
    </div>
    <div style="height:140px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        <a href="/api/companyapp/1">/api/companyapp/{id}</a>
    </div>
    <div style="height:220px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
            [<br>
                &nbsp;&nbsp;{<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;"company": 2,<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;"name": "nsIstanbul",<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;"icon_url": null,<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;"is_deleted": false,<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;"created_at": "2018-06-25T22:16:09.529128+03:00",<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;"modified_at": "2018-06-25T22:16:09.529174+03:00"<br>
                &nbsp;&nbsp;}<br>
            ]<br>
    </div>


    <div><h3>Job</h3></div>

    <div style="height:40px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        GET
    </div>
    <div style="height:40px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        <a href="/api/job/">/api/job/</a>
    </div>
    <div style="height:40px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        &nbsp;
    </div>

   <div style="height:140px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        POST
    </div>
    <div style="height:140px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        <a href="/api/job/">/api/job/</a>
    </div>
    <div style="height:220px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        [<br>
            &nbsp;&nbsp;{<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"company": "Company Name",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"position_title": "Django",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"description": "Django",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"city": "Istanbul",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"url": null,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"created_at": "2018-06-25T22:35:36.564450+03:00",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"modified_at": "2018-06-25T22:35:36.564555+03:00"<br>
            &nbsp;&nbsp;}<br>
        ]<br>
    </div>

    <div style="height:40px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        GET
    </div>
    <div style="height:40px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        <a href="/api/job/1/">/api/job/{id}</a>
    </div>
    <div style="height:40px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        &nbsp;
    </div>


    <div style="height:140px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        PUT
    </div>
    <div style="height:140px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        <a href="/api/job/1/">/api/job/{id}</a>
    </div>
    <div style="height:220px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        [<br>
            &nbsp;&nbsp;{<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"company": "Company Name",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"position_title": "Django",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"description": "Django",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"city": "Istanbul",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"url": null,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"created_at": "2018-06-25T22:35:36.564450+03:00",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"modified_at": "2018-06-25T22:35:36.564555+03:00"<br>
            &nbsp;&nbsp;}<br>
        ]<br>
    </div>


    <div><h3>About </h3></div>

    <div style="height:40px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        GET
    </div>
    <div style="height:40px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        <a href="/api/about/">/api/about/</a>
    </div>
    <div style="height:40px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        &nbsp;
    </div>

   <div style="height:140px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        POST
    </div>
    <div style="height:140px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        <a href="/api/about/">/api/about/</a>
    </div>
    <div style="height:220px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        [<br>
            &nbsp;&nbsp;{<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"description": "Test Description",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"contributor": [<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    1<br>
                &nbsp;&nbsp;&nbsp;&nbsp;],<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"is_active": true,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"is_deleted": false,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"created_at": "2018-07-08T20:02:57.034454+03:00",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"modified_at": "2018-07-08T20:02:57.034500+03:00"<br>
            &nbsp;&nbsp;}<br>
        ]<br>
    </div>

    <div style="height:40px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        GET
    </div>
    <div style="height:40px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        <a href="/api/about/1/">/api/about/{id}</a>
    </div>
    <div style="height:40px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        &nbsp;
    </div>


    <div style="height:140px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        PUT
    </div>
    <div style="height:140px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        <a href="/api/about/1/">/api/about/{id}</a>
    </div>
    <div style="height:220px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        [<br>
            &nbsp;&nbsp;{<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"description": "Test Description",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"contributor": [<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    1<br>
                &nbsp;&nbsp;&nbsp;&nbsp;],<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"is_active": true,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"is_deleted": false,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"created_at": "2018-07-08T20:02:57.034454+03:00",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"modified_at": "2018-07-08T20:02:57.034500+03:00"<br>
            &nbsp;&nbsp;}<br>
        ]<br>
    </div>


    <div><h3>Contributor </h3></div>

    <div style="height:40px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        GET
    </div>
    <div style="height:40px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        <a href="/api/contributor/">/api/contributor/</a>
    </div>
    <div style="height:40px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        &nbsp;
    </div>

   <div style="height:140px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        POST
    </div>
    <div style="height:140px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        <a href="/api/contributor/">/api/contributor/</a>
    </div>
    <div style="height:220px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        [<br>
            &nbsp;&nbsp;{<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"id": 1,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"name": "string",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"avatar_url": "string",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"external_url": "string",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"is_active": true,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"is_deleted": false,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"created_at": "2018-07-08T20:02:53.818592+03:00",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"modified_at": "2018-07-08T20:02:53.818642+03:00"<br>
            &nbsp;&nbsp;}<br>
        ]<br>
    </div>

    <div style="height:40px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        GET
    </div>
    <div style="height:40px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 20px;">
        <a href="/api/contributor/1/">/api/contributor/{id}</a>
    </div>
    <div style="height:40px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        &nbsp;
    </div>


    <div style="height:140px; width: 10%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        PUT
    </div>
    <div style="height:140px; width: 20%; background-color:#B8C2CA; color:#2F3249; float:left; text-align:center; padding-top: 100px;">
        <a href="/api/contributor/1/">/api/contributor/{id}</a>
    </div>
    <div style="height:220px; width: 70%; background-color:#B8C2CA; color:#2F3249; float:left; padding-top:20px;">
        [<br>
            &nbsp;&nbsp;{<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"id": 1,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"name": "string",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"avatar_url": "string",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"external_url": "string",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"is_active": true,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"is_deleted": false,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"created_at": "2018-07-08T20:02:53.818592+03:00",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;"modified_at": "2018-07-08T20:02:53.818642+03:00"<br>
            &nbsp;&nbsp;}<br>
        ]<br>
    </div>
</body>
</html>